<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sak.todo.gui"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Permissions -->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="11" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.READ_CONTACTS"/>
    <permission android:name="sak.todo.gcm.permission.C2D_MESSAGE" 
        android:protectionLevel="signature" />
    <uses-permission android:name="sak.todo.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light" >
        
       <activity
            android:name="sak.todo.gui.agenda.TasksListActivity"
            android:label="@string/app_name" >
			
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

       <activity
            android:name=".Intro"
            android:label="@string/app_name" >
        </activity>
        
        
        <activity android:name="sak.todo.gui.schedules.SchedulesActivity" >
        </activity>
        
        <activity android:name="CreateMultiTaskActivity" >
        </activity>
		
        <activity android:name="sak.todo.gui.CreateMeeting" >
        </activity>
        
        <activity android:name="sak.todo.gui.MeetingDescision" >
        </activity>
        
        
        <!-- GCM receiver -->
        <receiver
			android:name="sak.todo.gcm.GcmBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND" >
            
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="sak.todo.gui" />
			</intent-filter>
		</receiver>
		
    </application>
</manifest>